.layout__canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -100;
}

.layout__canvas-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button,
.layout-transparent .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: #212121;
}
